.App {
  text-align: center;
}

label {
  padding: 3px;
}

.header {
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.portfolio {
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:left;
  padding-left: 20px;
}

.portfolio-info { 
  padding: 3px;
}

.portfolio-name {
  font-weight: bold;
}

.portfolio-created-at {
  color: grey;
}

.portfolio-message {
  padding: 5px;
}

#new-portfolio-form {
  width: 600px;
  margin: auto;
}

#new-portfolio-form-message {
  width: 450px;
  height: 50px;
  margin: 10px;
  font-size: large;
  font-family: arial;
  padding: 5px;
}

#new-portfolio-form-submit {
  background-color: lightblue;
  border-style: solid;
  border-color: black;
  font-size: large;
  height: 40px;
  width: 80px;
  float: right;
  margin-top: 20px;
}