.dashboard_background {
  height: 1000px;
  margin: 0px;
  border: 5px solid;
  background-color: rgba(255, 251, 251, 0.829);
}

.dashboard_background2{
  padding: 15px;
  height: 780px;

  margin: 0 auto;
  border-radius: 0.3em;
  background-color: #f2f2f2;
}

body {
  background: url('https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/494749/gettyimages-523155194.jpg&w=2000&op=resize') fixed;
 background-size: cover;
}

*[role="form"] {
 max-width: 530px;
 padding: 15px;
 margin: 0 auto;
 border-radius: 0.3em;
 background-color: #f2f2f2;
}

*[role="form"] h2 { 
 font-family: 'Open Sans' , sans-serif;
 font-size: 40px;
 font-weight: 600;
 color: #000000;
 margin-top: 5%;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 4px;
}
